:root {
    --loader-size: 40px; /* Taille du loader */
    --loader-margin: 100px auto; /* Marge autour du loader */
    --loader-animation-duration: 2s; /* Durée de l'animation */
    --loader-animation-delay: -1s; /* Délai avant le début de l'animation */
    
    --loader-opacity: 0.6; /* Opacité des éléments du loader */
}

// Styles pour le composant Loader
.loader {
    width: var(--loader-size);
    height: var(--loader-size);
    position: relative;
    margin: var(--loader-margin);
}

// Styles pour les éléments rebondissants à l'intérieur du Loader
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Forme ronde */
    background-color: var(--loader-color); /* Couleur des éléments */
    opacity: var(--loader-opacity);
    position: absolute;
    top: 0;
    left: 0;

    // Utiliser la même animation pour les deux éléments
    animation: sk-bounce var(--loader-animation-duration) infinite ease-in-out;
}

// Retarder l'animation du deuxième élément
.double-bounce2 {
    animation-delay: var(--loader-animation-delay);
}

// Définir l'animation de rebondissement
@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0); /* Échelle à 0 (invisible) */
    }
    50% {
        transform: scale(1); /* Échelle à 1 (visible) */
    }
}

