@import "../../_vars.scss";


:root {
    --tag-list-gap: 0.5rem;
    --tag-list-margin-block: 0.5rem;
    --tag-padding: 0.15rem 0.75rem;
    --tag-font-size: 0.875rem;
    --tag-border-radius: 0.3rem;
    --tag-background-color: #{$color-primary};
    --tag-color: #{$color-neutral-0};
}


.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--tag-list-gap);
    margin-block: var(--tag-list-margin-block);

    
    .tag {
        display: inline-block;
        background-color: var(--tag-background-color);
        color: var(--tag-color);
        padding: var(--tag-padding);
        font-size: var(--tag-font-size);
        border-radius: var(--tag-border-radius);
    }
}