@import "../../_vars.scss";

:root {
    --card-aspect-ratio: 340 / 340;
    --card-title-font-size: 1.125rem;
    --card-padding: #{$spacing-medium};
    @media (min-width: $breakpoint-medium) {
        --card-aspect-ratio-large: 1 / 1;
    }
}


.card {
    color: $color-neutral-0;
    background-color: $color-primary;
    border-radius: $radius-small;
    overflow: hidden;

    
    &__link {
        display: grid;
        grid-template-rows: 1fr auto;
        text-decoration: none;
        width: 100%;
        height: 100%;
        aspect-ratio: var(--card-aspect-ratio);
        

        
        & > * {
            grid-column: 1;
            grid-row: 1;
        }
    }

    
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: var(--card-title-font-size);
        text-wrap: balance;
        margin: 0;
        padding: var(--card-padding);
        background-image: linear-gradient(
            to top,
            rgba($color-neutral-900, 0.5),
            rgba($color-neutral-900, 0) 50%
        );
    }

    
    &__cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
