.logements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  
    .logement {
      border: 1px solid #ccc;
      padding: 20px;
      text-align: center;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  