:root {
    --footer-padding: 3.5rem 1.25rem 0;
    --footer-gap: 1.25rem;
    --logo-max-width: 9rem;
    --footer-background-color: #000;
    --footer-color: #fff;
}


.footer {
    display: flex;
    flex-direction: column;
    gap: var(--footer-gap);
    align-items: center;
    padding: var(--footer-padding);
    background-color: var(--footer-background-color);
    color: var(--footer-color);

    
    .logo {
        max-width: var(--logo-max-width);
    }
}


