// Polices
$font-primary: "Montserrat", sans-serif;
$font-size-base: 1.125rem;

// Couleurs
$color-primary: #ff6060;
$color-neutral-900: #000;
$color-neutral-100: #f6f6f6;
$color-neutral-0: #fff;

// Radius
$radius-small: 0.625rem;
$radius-large: 1.5625rem;

// Espacements entre les éléments des fiches logements
$spacing-small: 0.5rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;

//Points de rupture pour le responsive
$breakpoint-small: 30rem;
$breakpoint-medium: 48rem;
$breakpoint-large: 64rem;