@import "../../_vars.scss";

:root {
    --nav-gap: clamp(1.5rem, 5vw, 2.5rem);
    --nav-link-font-size: clamp(0.75rem, 2vw, 1.25rem);
    --nav-link-active-underline-offset: 0.25em;
}


.nav {
    display: flex;
    align-items: center;
    gap: var(--nav-gap);

    
    &__link {
        font-size: var(--nav-link-font-size); 
        text-transform: uppercase;
        @media (min-width: $breakpoint-medium) {
            text-transform: none;
        }
    }

    
    &__link.active {
        text-decoration: underline;
        text-underline-offset: var(--nav-link-active-underline-offset);
    }
}